[user]
    name = Dave Coyle
    email = hello@coyled.com
[core]
    autocrlf = input
[github]
    user = coyled
[color]
    ui = true
[push]
    default = current
[alias]
    rtu = reset --hard @{u}
    unadd = reset HEAD
    track = checkout -t

    # from http://www.jukie.net/bart/blog/pimping-out-git-log
    plog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[log]
	date = iso8601-local
