[user]
    name = Dave Coyle
    email = hello@coyled.com
[core]
    autocrlf = input
[github]
    user = coyled
[color]
    ui = true
[push]
    default = current
[alias]
    alias = ! git config --get-regexp ^alias. | sed 's/^alias.//' | sed 's/ /=/'
    rtu = reset --hard @{u}
    track = checkout -t
    unadd = reset HEAD
    uncommit = reset --soft HEAD^

    # pretty-print `git log`...
    plog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[log]
    date = iso8601-local
[init]
    defaultBranch = main
[commit]
    verbose = true
